<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>IncluirCursos</display-name>
    <servlet-name>IncluirCursos</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.IncluirCursos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirCursos</servlet-name>
    <url-pattern>/IncluirCursos</url-pattern>
  </servlet-mapping>
  <display-name>controlecursoja</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProfessorDao</display-name>
    <servlet-name>ProfessorDao</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.model.dao.ProfessorDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorDao</servlet-name>
    <url-pattern>/ProfessorDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncluirProfessor</display-name>
    <servlet-name>IncluirProfessor</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.IncluirProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirProfessor</servlet-name>
    <url-pattern>/IncluirProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncluirProfessores</display-name>
    <servlet-name>IncluirProfessores</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.IncluirProfessores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirProfessores</servlet-name>
    <url-pattern>/IncluirProfessores</url-pattern>
  </servlet-mapping>
</web-app>